In [100]:
import sys
import numpy as np
sys.path.append('../')
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
import tensorflow.compat.v1 as tf 
tf.compat.v1.disable_eager_execution()

from sklearn.preprocessing import LabelEncoder 
le  = LabelEncoder()
std = MinMaxScaler()
#std = StandardScaler()

df=pd.read_csv('../datasets/raw_heart_disease/heart_disease',header=None)
df[13]=df[13].apply(lambda x: 0 if (x <=1) else 1)
df.drop(df.loc[df[11]=='?'].index,axis=0,inplace=True)
df.drop(df.loc[df[12]=='?'].index,axis=0,inplace=True)
df=df.astype(float).astype(int)
df[0]=np.clip(df[0]/10, 1,9).astype('int')
bound_dic={}
for col in df.columns:
    bound_dic["input_bound_{0}".format(col)] = [df[col].min(),df[col].max()]

In [101]:
bound_dic

{'input_bound_0': [2, 7],
 'input_bound_1': [0, 1],
 'input_bound_2': [1, 4],
 'input_bound_3': [94, 200],
 'input_bound_4': [126, 564],
 'input_bound_5': [0, 1],
 'input_bound_6': [0, 2],
 'input_bound_7': [71, 202],
 'input_bound_8': [0, 1],
 'input_bound_9': [0, 6],
 'input_bound_10': [1, 3],
 'input_bound_11': [0, 3],
 'input_bound_12': [3, 7],
 'input_bound_13': [0, 1]}

In [103]:
df

     0   1   2    3    4   5   6    7   8   9   10  11  12  13
0     6   1   1  145  233   1   2  150   0   2   3   0   6   0
1     6   1   4  160  286   0   2  108   1   1   2   3   3   1
2     6   1   4  120  229   0   2  129   1   2   2   2   7   0
3     3   1   3  130  250   0   0  187   0   3   3   0   3   0
4     4   0   2  130  204   0   2  172   0   1   1   0   3   0
..   ..  ..  ..  ...  ...  ..  ..  ...  ..  ..  ..  ..  ..  ..
297   5   0   4  140  241   0   0  123   1   0   2   0   7   0
298   4   1   1  110  264   0   0  132   0   1   2   0   7   0
299   6   1   4  144  193   1   0  141   0   3   2   2   7   1
300   5   1   4  130  131   0   0  115   1   1   2   1   7   1
301   5   0   2  130  236   0   2  174   0   0   2   1   3   0

[297 rows x 14 columns]

In [77]:

        
        
df.loc[df[11]=='?']

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Index: []

In [104]:
df.to_csv('../datasets/heart_disease.csv',index=False)

In [76]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
14,52.0,1.0,3.0,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,0
15,57.0,1.0,3.0,150.0,168.0,0.0,0.0,174.0,0.0,1.6,1.0,0.0,3.0,0
16,48.0,1.0,2.0,110.0,229.0,0.0,0.0,168.0,0.0,1.0,3.0,0.0,7.0,1
17,54.0,1.0,4.0,140.0,239.0,0.0,0.0,160.0,0.0,1.2,1.0,0.0,3.0,0
18,48.0,0.0,3.0,130.0,275.0,0.0,0.0,139.0,0.0,0.2,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1